<form action="/auth_user" method="POST">
  <div>
    <label for="username">Username: </label>
    <input name="username" id="username" value="">
  </div>
  <div>
    <label for="password">Password</label>
    <input name="password" id="password" type="password" value="">
  </div>
  <div>
    <button>Login</button>
  </div>
</form>
